* {
    font-family: sans-serif;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#local h1 {
    margin-top: 10px;
}

form img {
    vertical-align: bottom;
}

.city, .city img {
    position:relative;
    width:640px;
    height:360px;
    float: left;
    margin-top: 10px;
}

.city:hover .remove-button {
    position:absolute;
    display:block;
    width:24px;
    height:24px;
    top: 0px;
    right: 0px;
    background: url(../minus.png);
}

.remove-button {
    display:none;
}
