<!DOCTYPE html>
<html ng-app="weather">
<head>
    <title>Vejroversigt</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div ng-controller="WeatherCtrl">
    <div id="region">
        <h1>Regionsoversigt</h1>
        <a href="http://www.dmi.dk/dmi/danmark/regionaludsigten/kbhnsj.htm"><img src="http://www.dmi.dk/dmi/femdgn_kobenhavn.png" /></a>
    </div>

    <div id="local">
        <h1>Lokalvejr</h1>
        <form ng-submit="addZipcode()">
            <input type="text" ng-model="zipcode" size="30"
                   placeholder="add new zipcode here">
            <img ng-submit="addZipcode()" src="plus.png" alt="">
        </form>
        <div class="city" ng-repeat="zipcode in zipcodes">
            <a ng-href="http://www.dmi.dk/dmi/index/danmark/byvejr_danmark.htm?by={{zipcode}}">
                <img ng-src="http://servlet.dmi.dk/byvejr/servlet/byvejr_dag1?by={{zipcode}}&mode=long&eps=true"/>
            </a>
            <a class="remove-button" ng-click="removeZipcode(zipcode)"></a>
        </div>
    </div>
</div>
<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/weatherStorage.js"></script>
<script src="js/weatherCtrl.js"></script>
</body>
</html>